.footer {
    background-color: var(--gt-gold);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    
    bottom: 0;
    width: 100%;
}

:root {
  --gt-black: #262626;
  --gt-white: #fff;
  --gt-gold: #b3a369;
  --gt-md-gold: #a4925a;
  --gt-drk-gold: #857437;
  --gt-navy: #003057;
  --gt-light-gray: #ccc;
  --gt-light-grey: #ccc;
  --gt-lightest-gray: #eee;
  --gt-md-grey: #545454;
}